<% content_for :header_tags do -%>
  <% (%W(jquery-1.4.2.min.js jquery.jqplot.js)+graph.renderers).each do |file| -%>
  <%= javascript_include_tag file, :plugin => :redmine_reports -%>
  <% end -%>
  <%= stylesheet_link_tag "jquery.jqplot.css", :plugin => :redmine_reports %>
<% end -%>

<div class="jqPlot" id="chart<%=graph.id%>" style="height:300px;width:450px;"></div>
<script type="text/javascript" language="javascript">
  //<![CDATA[
  jQuery.noConflict();
  line<%=graph.id%> = <%=graph.eval_source%>;
  plot<%=graph.id%> = jQuery.jqplot('chart<%=graph.id%>', [line<%=graph.id%>], {
    title: '<%=graph.title%>',
    <%=graph.rendering.split("\n").join("  \n")%>
  });
  //]]>
</script>
