<% size = Graph.size %>

<% content_for :header_tags do -%>
  <%= javascript_include_tag "jquery.jqplot.min.js" , :plugin => :redmine_reports -%>
  <%= stylesheet_link_tag "jquery.jqplot.min.css", :plugin => :redmine_reports %>
<% end -%>

<% unless flash[:error] -%>
<div class="jqPlot" id="chart<%=graph.id%>" style="width:<%=size[0]%>px;height:<%=size[1]%>px;"></div>
<script type="text/javascript" language="javascript">
  //<![CDATA[
  <%=graph.eval_source.html_safe%>;
  plot<%=graph.id%> = jQuery.jqplot('chart<%=graph.id%>', [<%=graph.keys.join(",")%>], {
    title: '<%=graph.title%>',
    <%=graph.rendering.split(/\n+/).join("\n  ")%>
  });
  //]]>
</script>
<% end -%>
