<% content_for :header_tags do -%>
  <% (%W(jquery-1.4.2.min.js jquery.jqplot.js)+graph.renderers).each do |file| -%>
  <%= javascript_include_tag file, :plugin => :redmine_reports -%>
  <% end -%>
  <%= stylesheet_link_tag "jquery.jqplot.css", :plugin => :redmine_reports %>
<% end -%>

<% unless flash[:error] -%>
<div class="jqPlot" id="chart<%=graph.id%>" style="height:300px;width:450px;"></div>
<script type="text/javascript" language="javascript">
  //<![CDATA[
  jQuery.noConflict();
  <%=graph.eval_source%>;
  plot<%=graph.id%> = jQuery.jqplot('chart<%=graph.id%>', [<%=graph.keys.join(",")%>], {
    title: '<%=graph.title%>',
    <%=graph.rendering.split(/\n+/).join("\n  ")%>
  });
  //]]>
</script>
<% end -%>
