<div class="contextual">
  <%= link_to l(:button_update), {:controller => 'graphs', :action => 'edit', :id => @graph}, :class => 'icon icon-edit' %>
  <%= link_to l(:button_delete), {:controller => 'graphs', :action => 'destroy', :id => @graph}, :class => 'icon icon-del',
              :confirm => l(:text_are_you_sure), :method => :delete %>
</div>

<h2><%= link_to l(:label_graph_plural), graphs_path %> &#187; <%=h @graph.title %></h2>

<%= render :partial => 'jqplot_graph', :locals => {:graph => @graph} %>

<% html_title(l(:label_graph_plural)) -%>
